@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.backButton
@import config.FrontendAppConfig

@()(implicit request: Request[_])

@main_template(Messages("page.checkAndSubmit.acknowledgement.title"), bodyClasses = None) {

@backButton(controllers.routes.CheckAnswersController.show().toString)

<div class="grid-row">
    <div class="column-two-thirds">

        <div class="form-group">
            <div class="transaction-banner--complete">
                <span id="submission-confirmation" class="heading-large">@Messages("page.checkAndSubmit.acknowledgement.submissionConfirmation")</span>
                <p id="ref-number-heading">@Messages("page.checkAndSubmit.acknowledgement.refNumberHeading")</p>
                <span id="ref-number" class="bold-medium">@Messages("page.checkAndSubmit.acknowledgement.refNumber")</span>
            </div>
            <p id="confirm-email">@Messages("page.checkAndSubmit.acknowledgement.confirmEmail")</p>
        </div>

        <div class="form-group">
            <h2 id= "what-next" class="heading-medium">@Messages("page.checkAndSubmit.acknowledgement.toDoNext")</h2>

            <p id="email-to">@Messages("page.checkAndSubmit.acknowledgement.emailTo") <a href="mailto:enterprise.centre@@hmrc.gsi.gov.uk">enterprise.centre@@hmrc.gsi.gov.uk</a>.</p>

            <p id="subject-line-include">@Messages("page.checkAndSubmit.acknowledgement.subjectLineInclude")</p>

            <ul class="list-bullet">
                <li id="application-reference-number">@Messages("page.checkAndSubmit.acknowledgement.applicationReferenceNumber")</li>
                <li id="company-name">@Messages("page.checkAndSubmit.acknowledgement.companyName")</li>
            </ul>

            <details>
                <summary><span id="help" class="summary">@Messages("page.checkAndSubmit.acknowledgement.help")</span></summary>
                <div class="panel panel-indent panel-border-narrow">
                    <p id="send-us">@Messages("page.checkAndSubmit.acknowledgement.sendUs")</p>
                    <ul class="list-bullet">
                        <li id="business-plan">@Messages("page.checkAndSubmit.acknowledgement.businessPlan")</li>
                        <li id="company-accounts">@Messages("page.checkAndSubmit.acknowledgement.companyAccounts")</li>
                        <li id="subsidiary-accounts">@Messages("page.checkAndSubmit.acknowledgement.subsidiaryAccounts")</li>
                        <li id="shareholder-agreements">@Messages("page.checkAndSubmit.acknowledgement.shareholderAgreements")</li>
                        <li id="articles-of-association">@Messages("page.checkAndSubmit.acknowledgement.articlesOfAssociation")</li>
                        <li id="docs-prospectus">@Messages("page.checkAndSubmit.acknowledgement.docsProspectus")</li>
                    </ul>
                </div>
            </details>
        </div>

        <div class="form-group">
            <h2 id="waiting-time" class="heading-medium">@Messages("page.checkAndSubmit.acknowledgement.waitingTime")</h2>
            <p id="course-of-action">@Messages("page.checkAndSubmit.acknowledgement.courseOfAction")</p>
        </div>
    </div>
</div>
}