@import models.submission.SubmissionResponse
@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.backButton
@import config.FrontendAppConfig
@import controllers.feedback.routes

@()(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.checkAndsubmit.attachments.acknowledgement.title"), bodyClasses = None) {


<div class="grid-row">
    <div class="column-two-thirds">

        <div class="form-group">
            <div class="transaction-banner--complete">
                <h1 id="submission-confirmation" class="heading-large banner-white">@Messages("page.checkAndsubmit.attachments.acknowledgement.submission.confirmation")</h1>


            </div>

        </div>

        <br>

        <div class="form-group">
            <h2 id="what-happens-next" class="heading-medium">@Messages("page.checkAndsubmit.attachments.acknowledgement.what.happens.heading")</h2>
            <p id="happens-next">@Messages("page.checkAndsubmit.attachments.acknowledgement.what.happens.text")</p>
        </div>
        <div class="form-group">
            <a id="submit" class="button" href="@controllers.routes.ApplicationHubController.show().url">@Messages("page.checkAndsubmit.attachments.acknowledgement.button.confirm")</a>
        </div>
    </div>
</div>

}