@import models.fileUpload.EnvelopeFile
@import views.html.helpers.backButton
@import uk.gov.hmrc.play.views.html.helpers.form

@(files: Seq[EnvelopeFile], envelopeID: String)(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.checkAndSubmit.checkDocuments.title"), articleLayout=false) {

@backButton(routes.CheckDocumentsController.redirectAttachments().toString)

<h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.checkAndSubmit.checkDocuments.heading")</h1>
<div class="form-group">
    <p id="description-one">@Messages("page.checkAndSubmit.checkDocuments.outsideFlow.desc")</p>
</div>

@if(files.size > 0){
<div class="form-group">
    <table id="files-table">
        <tbody>
        <tr><td></td><td></td></tr>
        <tr>
            <td>
                @for((file, index) <- files.zipWithIndex) {
                <span id="file-@{index}">@file.name</span>
                <br>
                }
            </td>
            @for((file, index) <- files.zipWithIndex) {
            @if(index == 0) {
            <td class="summaryLink align-top">
                <a id="supporting-docs-link" href="@routes.CheckDocumentsController.redirectAttachments">@Messages("common.base.change")</a>
            </td>
            }
            }
        </tr>
        </tbody>
    </table>
</div>
}

@form(action = controllers.routes.CheckDocumentsController.submit()) {
<div class="form-group">
    <button class="btn button" type="submit" id="submit">@Messages("page.checkAndSubmit.checkDocuments.button.confirm")</button>
</div>
}
}