@import models.CheckAnswersModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.backButton
@import helpers.summaryTextRowHelperBasic
@import helpers.summaryTextRowHelperParagraph
@import helpers.summaryTableHeaderHelper

@(checkAnswersForm: Form[CheckAnswersModel])(implicit request: Request[_])

@main_template(Messages("page.checkAndSubmit.checkAnswers.heading"), articleLayout = false) {

    @backButton(controllers.routes.CheckAnswersController.show().toString)

    <h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.checkAndSubmit.checkAnswers.heading")</h1>

    <p>@Messages("page.checkAndSubmit.checkAnswers.description")</p>

    <div class = "form-group">
        <p><a id="print-this-page" href="javascript:window.print()" class="print-link print-hidden js-visible">@Messages("page.checkAndSubmit.checkAnswers.print.text")</a></p>
    </div>

    @form(action = controllers.routes.CheckAnswersController.submit()) {

        <section id="yourAnswers">
            <!-- Header -->
            @summaryTableHeaderHelper("Section 1: Company details")
            <table>
                <!-- Data Rows-->
                <tbody>
                    @summaryTextRowHelperBasic("Company name","Company name Ltd.", Some(controllers.routes.QualifyingForSchemeController.show().toString))
                    @summaryTextRowHelperParagraph("Company name",Array("Company name Ltd.","HJDJSDSJSDHJDSHJSDHSD"), Some(controllers.routes.QualifyingForSchemeController.show().toString))
                </tbody>
            </table>
        </section>

        <div class="form-group">
            <button class="btn button" type="submit" id="submit">@Messages("page.checkAndSubmit.checkAnswers.button.confirm")</button>
        </div>
    }
}
