@import models.PreviousSchemeModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import common.Constants
@import views.html.helpers.{externalLink, formInputRadioGroup, backButtonWithProgress, input, inputWithCurrencySymbol, formInlineDateInput, hiddenField, errorSummary}

@(previousSchemeForm: Form[PreviousSchemeModel], backlinkUrl: String)(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.investment.PreviousScheme.title")) {

@backButtonWithProgress(backlinkUrl, Messages("common.section.progress.company.details.two"))

    @errorSummary(previousSchemeForm, "previous-investment", "investmentDay")

    <h1 class="heading-xlarge" id="main-heading">@Messages("page.investment.PreviousScheme.heading")</h1>

    <div class="form-group">
        <span class = "form-hint" id="guideline">@Messages("page.investment.PreviousScheme.oneAtATime")</span>
    </div>

    @form(action = controllers.eis.routes.PreviousSchemeController.submit()) {
        <div class="form-group" data-previous-investment="hidden-other-scheme" data-previous-investment-spent="hidden-investment-spent">

            <div class="form-group">
            @formInputRadioGroup(
            field = previousSchemeForm("schemeTypeDesc"),
            Seq(
            Constants.schemeTypeEis->Messages("page.previousInvestment.schemeType.eis"),
            Constants.schemeTypeSeis->Messages("page.previousInvestment.schemeType.seis"),
            Constants.schemeTypeSitr->Messages("page.previousInvestment.schemeType.sitr"),
            Constants.schemeTypeVct->Messages("page.previousInvestment.schemeType.vct"),
            Constants.schemeTypeOther->Messages("page.previousInvestment.schemeType.other")),
            '_legend -> Messages("page.investment.PreviousScheme.schemeType"),
            '_legendClass -> "heading-small",
            '_legendID -> "scheme-type",
            '_labelAfter -> true,
            '_labelClass -> "block-label"
            )
            </div>

            <div class="panel-indent form-group"  id="hidden-other-scheme"  data-hidden='hidden'>
                @input(
                previousSchemeForm("otherSchemeName"),
                '_divClass -> "form-label",
                '_labelId -> "label-other-scheme",
                '_hintId -> "label-other-scheme-hint",
                '_label -> Messages("page.investment.PreviousScheme.otherSchemeName.label"),
                '_labelTextClass -> "heading-small block",
                '_inputHint -> "",
                '_inputClass -> "",
                '_type -> "text",
                '_maxlength -> "50",
                'id -> "otherSchemeName"
                )

            </div>
            <div class="form-group"></div>

            <div class="form-group divider--top--thick">
                @inputWithCurrencySymbol(
                previousSchemeForm("investmentAmount"),
                '_divClass -> "form-label",
                '_labelId -> "label-amount",
                '_hintId -> "label-amount-hint",
                '_label -> Messages("page.investment.PreviousScheme.investmentAmount"),
                '_labelTextClass -> "heading-small block",
                '_inputHint -> "",
                '_inputClass -> "input--normal input--no-spinner input--left-padding",
                '_type -> "text",
                '_maxlength -> "9",
                'id -> "investmentAmount"
                )
            </div>

            <div class="panel-indent" id="hidden-investment-spent"  data-hidden='hidden'>
                @inputWithCurrencySymbol(
                previousSchemeForm("investmentSpent"),
                '_divClass -> "form-label",
                '_labelId -> "label-amount-spent",
                '_hintId -> "label-amount-spent-hint",
                '_label -> Messages("page.previousInvestment.amountSpent.label"),
                '_labelTextClass -> "heading-small block",
                '_inputHint -> "",
                '_inputClass -> "input--normal input--no-spinner input--left-padding",
                '_type -> "text",
                '_maxlength -> "9",
                'id -> "investmentSpent"
                )
            </div>
            <div class="form-group"></div>

            <div class="form-group divider--top--thick"></div>

            @formInlineDateInput(previousSchemeForm,"investment",
                Some(Messages("page.previousInvestment.reviewPreviousSchemes.dateOfShareIssue")),
                false, Some(Messages("common.date.hint.example")), Some("heading-small"))

            <details>
                <summary><span id="help" class="summary">@Messages("page.investment.PreviousScheme.howToFind")</span></summary>
                <div class="panel panel-indent panel-border-narrow">
                    <span class = "form-hint" id = "date-of-share-issue-where-to-find">@Messages("page.investment.PreviousScheme.location")
                        @externalLink(Messages("page.investment.PreviousScheme.companiesHouse"),
                        "https://www.gov.uk/get-information-about-a-company", Some("company-house-db"))
                    </span>
                </div>
            </details>


            <div>
                @hiddenField(
                previousSchemeForm("processingId"),
                'id -> "processingId"
                )
            </div>

        </div>

        <div class="form-group">
            <button class="btn button" type="submit" id="next">
                @{if(previousSchemeForm("processingId").value.getOrElse(0) == 0 || previousSchemeForm("processingId").value.getOrElse(0) == "")
                Messages("page.investment.PreviousScheme.button.add") else
                Messages("page.investment.PreviousScheme.button.update")}
            </button>

        </div>
    }
}
