@import models.PreviousSchemeModel
@import config.FrontendAppConfig
@(previousSchemes: Vector[PreviousSchemeModel], backUrl: String)(implicit request: Request[_], messages: Messages)
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{errorSummary, formInputRadioGroup, backButtonWithProgress, input, inputWithCurrencySymbol, formInlineDateInput, hiddenField}

@main_template(Messages("page.previousInvestment.reviewPreviousSchemes.title"), articleLayout=false) {

@backButtonWithProgress(backUrl, Messages("common.section.progress.company.details.two"))

<div class="grid-column">
    <div class="full-width">
        <h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.previousInvestment.reviewPreviousSchemes.heading")</h1>
            <table id="previous-schemes-table">
            <thead>
            <tr>
                <th id="scheme-table-heading">@Messages("page.previousInvestment.reviewPreviousSchemes.scheme")</th>
                <th id="date-table-heading">@Messages("page.previousInvestment.reviewPreviousSchemes.dateOfShareIssue")</th>
                <th id="amount-raised-table-heading">@Messages("page.previousInvestment.reviewPreviousSchemes.investmentAmountRaised")</th>
                <th id="amount-spent-table-heading">@Messages("page.previousInvestment.reviewPreviousSchemes.investmentAmountSpent")</th>
                <th>
                    <span class="visuallyhidden">
                        @Messages("common.base.change")
                    </span>
                </th>
                <th>
                    <span class="visuallyhidden">
                        @Messages("common.base.remove")
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            @for((previousScheme, index) <- previousSchemes.zipWithIndex) {
                <tr>
                    <td id="scheme-type-@{index}">@PreviousSchemeModel.getSchemeName(previousScheme.schemeTypeDesc, previousScheme.otherSchemeName)</td>
                    <td id="scheme-date-@{index}">@PreviousSchemeModel.toDateString(previousScheme.day.get, previousScheme.month.get, previousScheme.year.get)</td>
                    <td id="scheme-amount-raised-@{index}">@PreviousSchemeModel.getAmountAsFormattedString(previousScheme.investmentAmount)</td>
                    <td id="scheme-amount-spent-@{index}">
                        @if(previousScheme.investmentSpent.isDefined){
                            @PreviousSchemeModel.getAmountAsFormattedString(previousScheme.investmentSpent.get)
                        }else{
                            @Messages("common.notAvailableAcronym")
                        }</td>
                    <td id="change-@{index}"><a id="change-ref-@{index}" href=@controllers.eis.routes.ReviewPreviousSchemesController.change(previousScheme.processingId.get).toString>@Messages("common.base.change")</a></td>
                    <td id="remove-@{index}"> @form(action = controllers.eis.routes.ReviewPreviousSchemesController.remove(previousScheme.processingId.getOrElse(0))) {
                        <button class="button--link-style font-xsmall removeLink" type="submit" id="remove-link-@{index}"> @Messages("common.base.remove")</button>
                        }</td>
                </tr>
            }
            <tr>
                <td id="total-investment-heading" class="bold-xsmall" colspan="2">@Messages("page.previousInvestment.reviewPreviousSchemes.totalInvestment")</td>
                <td id="total-investment-amount" class="bold-xsmall">@PreviousSchemeModel.getAmountAsFormattedString(previousSchemes.foldLeft(0.toLong)(_ + _.investmentAmount))</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="6"><a  id="add-scheme" href="@controllers.eis.routes.ReviewPreviousSchemesController.add.toString">@Messages("page.previousInvestment.reviewPreviousSchemes.add")</a></td>
            </tr>
            </tbody>
        </table>

        @form(action = controllers.eis.routes.ReviewPreviousSchemesController.submit()) {
            <div class="form-group">
                <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
            </div>
        }

    </div>
</div>
}
