@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.{errorSummary, externalLink, backButtonWithProgress}

@(backlinkUrl: String)(implicit request: Request[_], messages: Messages)

@import config.FrontendAppConfig

@main_template(title = Messages("page.supportingDocuments.SupportingDocuments.title"), bodyClasses = None) {

@backButtonWithProgress(backlinkUrl, Messages("common.section.progress.company.details.five"))

<div class="grid-row">
    <div class="column-two-thirds">
        <div id="main">
                <h1 class="form-title heading-xlarge" id="main-heading" >@Messages("page.supportingDocuments.SupportingDocuments.heading")</h1>
         </div>

        <p id="description-one">@Messages("page.supportingDocuments.SupportingDocuments.text.one")</p>

        <table id="supporting-docs-table">
            <tbody>
            <tr>
                <td id="supportingDocs-business-plan">@Messages("page.supportingDocuments.SupportingDocuments.bullet.one")</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td id="supportingDocs-company-accounts">@Messages("page.supportingDocuments.SupportingDocuments.bullet.two")</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td id="shareholder-agree">@Messages("page.supportingDocuments.SupportingDocuments.bullet.three")</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td id="memorandum-docs">@Messages("page.supportingDocuments.SupportingDocuments.bullet.four")</td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td id="supportingDocs-prospectus">@Messages("page.supportingDocuments.SupportingDocuments.bullet.five")</td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <p id="description-two">@Messages("page.supportingDocuments.SupportingDocuments.text.two")</p>


        <br>

        <div class="form-group">
            @form(action = controllers.eis.routes.SupportingDocumentsController.submit()) {
            <button class="btn button" id="next" type="submit">@Messages("common.button.snc")</button>
            }
        </div>
    </div>
</div>
}
