@import models.SupportingDocumentsUploadModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import common.Constants
@import views.html.helpers.{errorSummary, formInputRadioGroup, backButtonWithProgress, formHiddenYesNoRadioNoError, formHint}

@(supportingDocumentsForm: Form[SupportingDocumentsUploadModel], backlinkUrl: String)(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("page.supportingDocuments.SupportingDocuments.title"), bodyClasses = None) {

@backButtonWithProgress(backlinkUrl, Messages("common.section.progress.company.details.five"))

@errorSummary(supportingDocumentsForm, "percentage-of-staff-with-masters", "doUpload")

<h1 class="heading-xlarge" id="main-heading">@Messages("page.supportingDocuments.SupportingDocuments.heading")</h1>

<p class="lede" id="intro">@Messages("page.supportingDocumentsUpload.heading")</p>

<ul class="list list-bullet">
    <li id="bullet-one">@Messages("page.supportingDocumentsUpload.bullet.one")</li>
    <li id="bullet-two">@Messages("page.supportingDocumentsUpload.bullet.two")</li>
    <li id="bullet-three">@Messages("page.supportingDocumentsUpload.bullet.three")</li>
    <li id="bullet-four">@Messages("page.supportingDocumentsUpload.bullet.four")</li>
    <li id="bullet-five">@Messages("page.supportingDocumentsUpload.bullet.five")</li>
</ul>

<div class="form-group">
    <div class="form-group">
        <p id="docs-current">@Messages("page.supportingDocumentsUpload.docs.current")</p>
    </div>
</div>


<div id="supportingDocs-business-plan" class="form-group">
    <h2 id="noticeMessage" class="important-notice">
        @Messages("page.supportingDocumentsUpload.Note")
    </h2>
</div>

@form(action = controllers.eis.routes.SupportingDocumentsUploadController.submit()) {

<div class="form-group">
    <p id="send-instruction">@Messages("page.supportingDocumentsUpload.upload.instruction")</p>
</div>



<div class="form-group">
    @formInputRadioGroup(
    field = supportingDocumentsForm("doUpload"),
    Seq(
    Constants.StandardRadioButtonYesValue->Messages("common.radioYesLabel"),
    Constants.StandardRadioButtonNoValue->Messages("common.radioNoLabel")),
    '_legend -> Messages("page.supportingDocumentsUpload.send.confirm"),
    '_legendClass -> "h3-heading",
    '_labelAfter -> true,
    '_labelClass -> "block-label",
    '_groupClass -> "inline"
    )
</div>


<div class="form-group">
    <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
</div>
}
}