@import models.TenYearPlanModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{errorSummary, formHiddenYesNoRadioTwoPanelsNoError, formTextInput, backButtonWithProgress, formSpanMessage, textArea}

@(tenYearPlanForm: Form[TenYearPlanModel])(implicit request: Request[_])

@main_template(Messages("page.knowledgeIntensive.TenYearPlan.title")) {

@backButtonWithProgress(controllers.routes.PercentageStaffWithMastersController.show().toString, Messages("common.section.progress.company.details.one"))

@errorSummary(tenYearPlanForm, "ten-year-plan", "tenYearPlanDesc")

<h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.knowledgeIntensive.TenYearPlan.heading")</h1>

<p class = "form-hint" id="desc-one">@Messages("page.knowledgeIntensive.TenYearPlan.question.hint.one")

    @form(action = controllers.routes.TenYearPlanController.submit()) {

    @formHiddenYesNoRadioTwoPanelsNoError(
    tenYearPlanForm,
    "hasTenYearPlan",
    Messages("page.knowledgeIntensive.TenYearPlan.question.hint.one"),
    textArea(
        tenYearPlanForm("tenYearPlanDesc"),
        '_cols -> "50",
        '_rows -> "10",
        '_maxLength-> "1000",
        '_label-> Messages("page.knowledgeIntensive.TenYearPlan.description.one"),
        '_labelTextClass-> "visuallyhidden"
    ),
    None,
    Some("visuallyhidden"),
    Some(formSpanMessage("desc", "page.knowledgeIntensive.TenYearPlan.description.two")),
    Some(Messages("page.knowledgeIntensive.TenYearPlan.question.hint.two")),
    None,
    Some(Messages("page.knowledgeIntensive.TenYearPlan.description.one")),
    None
    )

<div class="form-group">
    <button class="btn button" type="submit" id="next">@Messages("common.button.continue")</button>
</div>

}
}