@import models.CommercialSaleModel
@import uk.gov.hmrc.play.views.html.helpers.{form, inputRadioGroup}
@import views.html.helpers.{InlineDateInput, RevealingRadios, RadioGroupHidden, revealingRadioErrorSummary}

@(commercialSaleForm: Form[CommercialSaleModel])(implicit request: Request[_])

@main_template(Messages("page.companyDetails.CommercialSale.title"), backLink = Some(controllers.routes.NatureOfBusinessController.show().toString),
sectionProgress=Some(Messages("common.section.progress.company.details.one"))) {

<div class="grid-row">
    <div class="column-two-thirds">

        @revealingRadioErrorSummary(commercialSaleForm, "commercial-sale", "day", "commercial-sale-fieldset")

        <header class="page-header">
            <h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.companyDetails.CommercialSale.heading")</h1>
        </header>

        @form(action = controllers.routes.CommercialSaleController.submit()) {

        @RadioGroupHidden(
        commercialSaleForm("hasCommercialSale"),
        Seq(("Yes",  Messages("common.radioYesLabel")),("No",  Messages("common.radioNoLabel"))),
        ("hasCommercialSale-yes", InlineDateInput(commercialSaleForm, "commercial-sale", Option(Messages("page.companyDetails.CommercialSale.question.hint")), Messages("common.date.hint.example"))),
        '_labelClass -> "block-label radio-label",
        '_fieldsetId -> "commercial-sale-fieldset",
        '_groupClass -> "inline"

        )

        <br>

        <div class="form-group">
            <button class="btn button" id="next">@Messages("common.button.continue")</button>
        </div>
        }
    </div>

</div>
}