@import models.DateOfIncorporationModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(dateOfIncorporationForm: Form[DateOfIncorporationModel])(implicit request: Request[_])

@main_template(Messages("page.companyDetails.DateOfIncorporation.title"), backLink = Some(controllers.routes.RegisteredAddressController.show().toString),
sectionProgress=Some(Messages("common.section.progress.company.details.one"))) {

@errorSummary(dateOfIncorporationForm, "date-of-incorporation", "incorporationDay")


<h1 class="heading-large" id="main-heading">@Messages("page.companyDetails.DateOfIncorporation.heading")</h1>

@form(action = controllers.routes.DateOfIncorporationController.submit()) {

@formInlineDateInput(dateOfIncorporationForm, "incorporation", None, Some(Messages("date.hint.dateOfIncorporation")))

<details>
    <summary><span id="help" class="summary" onClick="ga('send', 'event', 'link', 'click', 'help')">@Messages("page.companyDetails.DateOfIncorporation.whereToFind")</span></summary>
    <div class="panel panel-indent panel-border-narrow">
        <p class = "form-hint" id = "date-of-incorporation-where-to-find">@Messages("page.companyDetails.DateOfIncorporation.location")
            <a id="company-house-db" rel=external href= @Messages("page.companyDetails.DateOfIncorporation.companiesHouse.link") target="_blank" >
            @Messages("page.companyDetails.DateOfIncorporation.companiesHouse")
        </a></p>
    </div>
</details>

<div class="form-group">
    <button class="btn button" id="next">@Messages("common.button.continue")</button>
</div>

}
}
