@import uk.gov.hmrc.play.views.html.helpers.form
@import models.NatureOfBusinessModel
@import views.html.helpers.{backButtonWithProgress, errorSummary, input}

@(natureOfbusinessForm: Form[NatureOfBusinessModel])(implicit request: Request[_])

@main_template(Messages("page.companyDetails.natureofbusiness.title")) {

@backButtonWithProgress(controllers.routes.DateOfIncorporationController.show().toString, Messages("common.section.progress.company.details.one"))

    @errorSummary(natureOfbusinessForm, "nature-of-business", "natureofbusiness")

    <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.companyDetails.natureofbusiness.heading")</h1>

    <span class="form-hint">
        <p id="description-two" class="lede">@Messages("page.companyDetails.natureofbusiness.example.text")</p>
    </span>

    <ul class="list list-bullet">
        <span class="form-hint">
            <li id="bullet-one">@Messages("page.companyDetails.natureofbusiness.bullet.one")</li>
            <li id="bullet-two">@Messages("page.companyDetails.natureofbusiness.bullet.two")</li>
            <li id="bullet-three">@Messages("page.companyDetails.natureofbusiness.bullet.three")</li>
        </span>
    </ul>

    @form(action = controllers.routes.NatureOfBusinessController.submit()) {

    <fieldset>
        <legend class="visuallyhidden">@Messages("page.companyDetails.natureofbusiness.heading")</legend>
        <div class="form-group">
            @input(
            natureOfbusinessForm("natureofbusiness"),
            '_divClass -> "form-label",
            '_labelId -> "label-natureofbusiness",
            '_hintId -> "label-natureofbusiness-hint",
            '_label -> Messages("page.companyDetails.natureofbusiness.heading"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth",
            '_inputHint -> Messages("page.companyDetails.natureofbusiness.question.hint"),
            'id -> "utr"
            )

        </div>
    </fieldset>
    <div class="form-group">
        <button class="btn button" type="submit" id="next">@Messages("common.button.continue")</button>
    </div>
    }
}
