@import models.RegisteredAddressModel
@import controllers._
@import forms._
@import helpers._
@import uk.gov.hmrc.play.views.html.helpers.form

@(registeredAddressForm: Form[RegisteredAddressModel])(implicit request: Request[_])

@main_template(Messages("page.companyDetails.RegisteredAddress.title"), bodyClasses = None, backLink = Some(controllers.routes.TaxpayerReferenceController.show().toString),
sectionProgress=Some(Messages("common.section.progress.company.details.one"))) {

<div class="form-group">
    <div class="column-two-thirds">

        @errorSummary(registeredAddressForm, "registered-address", "postcode")

        <h1 id="title" class="form-title heading-xlarge">@Messages("page.companyDetails.RegisteredAddress.title")</h1>

        @form(action = controllers.routes.RegisteredAddressController.submit()) {

            @formInlinePostcodeInput(registeredAddressForm, "postcode", None, None)

            <br>

            <details>
                <summary><span class="summary" id="description-one">@Messages("page.companyDetails.RegisteredAddress.description.one")</span></summary>
            </details>


            <button id="next" class="btn button" type="next">@Messages("common.button.continue")</button>
        }
    </div>
</div>

}