@(taxpayerReferenceForm: Form[TaxpayerReferenceModel])(implicit request: Request[_])
@import controllers._
@import forms._
@import helpers._
@import models.TaxpayerReferenceModel
@import uk.gov.hmrc.play.views.html.helpers.{form, errorSummary}

@main_template(Messages("page.companyDetails.utr.title"), backLink = Some(controllers.routes.WhatWeAskYouController.show().toString),
sectionProgress=Some(Messages("common.section.progress.company.details.one"))) {

<div class="grid-row">
    <div class="column-two-thirds">
        @errorSummary(
        Messages("common.errorSummary.label"), taxpayerReferenceForm
        )

        <header class="page-header">
            <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.companyDetails.utr.heading")</h1>
        </header>

        @form(action = controllers.routes.TaxpayerReferenceController.submit()) {
        <div class="form-group">
            @input(
            taxpayerReferenceForm("utr"),
            '_divClass -> "form-label",
            '_labelId -> "label-utr",
            '_hintId -> "label-utr-hint",
            '_label -> Messages("page.companyDetails.utr.heading"),
            '_labelTextClass -> "visuallyhidden",
            '_inputHint -> Messages("page.companyDetails.utr.question.hint"),
            'id -> "utr"
            )

            <details>
                <summary><span id="help" class="summary" onClick="ga('send', 'event', 'link', 'click', 'help')">@Messages("page.companyDetails.utr.help.link")</span></summary>
                <div class="panel panel-indent panel-border-narrow">
                    <p id="help-text">@Messages("page.companyDetails.utr.help.text")</p>
                </div>
            </details>

        </div>
        <div class="form-group">
            <button class="btn button" id="next">@Messages("common.button.continue")</button>
        </div>
        }
    </div>
</div>

}