@import uk.gov.hmrc.play.views.html.helpers.{form}

@()(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("page.throttlingGuidance.ourServiceChange.title"), mainClass=Some("full-width")) {

<div class="content-inner slides">

    <div class="grid-row">
        <div class="column-two-thirds-slides">
            <h1 class="banner-white">@Messages("page.throttlingGuidance.ourServiceChange.heading")</h1>
            <p>@Messages("page.throttlingGuidance.ourServiceChange.text")</p>

            <form method="post" class="form">

                <div class="actions">
                    <button class="button">@Messages("common.button.continue")</button>
                </div>

            </form>

        </div>

    </div>

</div>








}
