@import uk.gov.hmrc.play.views.html.helpers.{form}

@()(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("page.throttlingGuidance.whoCanUseNewService.title"), bodyClasses = None) {



        <header class="hero">
            <section class="hero__content">
                <h1 class="hero__heading-large">@Messages("page.throttlingGuidance.whoCanUseNewService.heading")</h1>
                <h2 class="hero__heading-small">@Messages("page.throttlingGuidance.whoCanUseNewService.apply.if")</h2>
                <p>@Messages("page.throttlingGuidance.whoCanUseNewService.apply.if")</p>
            </section>
        </header>

}
