@import uk.gov.hmrc.play.views.html.helpers.{form}
@import common.Constants

@()(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("page.throttlingGuidance.whoCanUseNewService.title"), mainClass=Some("full-width"), userLoggedIn = false) {

<div class="slides slide-medium">

    <div class="grid-row">
        <div class="column-two-thirds-slides">
            <h1 id="main-heading" class="banner-white">@Messages("page.throttlingGuidance.whoCanUseNewService.heading")</h1>
            <span id="description">@Messages("page.throttlingGuidance.whoCanUseNewService.apply.if")</span>

            <ul class="list list-bullet">
                <li id="reason-one"><span>@Messages("page.throttlingGuidance.whoCanUseNewService.apply.if.one")</span></li>
                <li id="reason-two"><span>@Messages("page.throttlingGuidance.whoCanUseNewService.apply.if.two")</span></li>
                <li id="reason-three"><span>@Messages("page.throttlingGuidance.whoCanUseNewService.apply.if.three")</span></li>
            </ul>
            <div class="form-group">
                <span id="still-apply">@Messages("page.throttlingGuidance.whoCanUseNewService.still.apply")
                    <a href="@Constants.guidanceRedirectUrl" class="link-style" id="change-answers">
                        @Messages("page.throttlingGuidance.whoCanUseNewService.existing")</a></span>

                @form(action = controllers.throttlingGuidance.routes.WhoCanUseNewServiceController.submit()) {

                <div class="actions">
                    <button class="btn button" type="submit" id="next">@Messages("common.button.continue")</button>
                </div>
            </div>



            }
        </div>

    </div>

</div>
}
