@import uk.gov.hmrc.play.views.html.helpers.{form}
@import views.html.helpers.backButtonWithProgress
@import models.PreviousSchemeModel

@(previousScheme: PreviousSchemeModel)(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.deletePreviousScheme.title")) {
@backButtonWithProgress(controllers.eisseis.routes.ReviewPreviousSchemesController.show().url, Messages("common.section.progress.company.details.two"))

<h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.deletePreviousScheme.heading")</h1>

        @form(action = controllers.eisseis.routes.DeletePreviousSchemeController.submit){

        <div class="panel panel-border-wide">
            <p id="scheme-delete-hint">@Messages("page.deletePreviousScheme.hint",
                PreviousSchemeModel.getSchemeName(previousScheme.schemeTypeDesc, previousScheme.otherSchemeName),
                PreviousSchemeModel.toDateString(previousScheme.day.get, previousScheme.month.get,
                previousScheme.year.get))
            </p>
        </div>

        <div class="form-group">
            <input type="hidden" id="previousSchemeId" name="previousSchemeId" value="@previousScheme.processingId.get">
        </div>

        <div class="form-group">
            <button id="scheme-remove" class="button" type="submit">@Messages("page.deletePreviousScheme.confirm")</button>
        </div>
    }

    <div class="form-group">
        <a id="scheme-cancel" href="@controllers.eisseis.routes.ReviewPreviousSchemesController.show()">@Messages("page.deletePreviousScheme.cancel")</a>
    </div>

}