@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.{externalLink, backButton}
@import config.FrontendAppConfig
@import models.ApplicationHubModel
@import views.html.helpers.multiLineHelper
@import utils.Transformers
@import utils.CountriesHelper

@(applicationHubModel: ApplicationHubModel, partial: Html)(implicit request: Request[_], messages: Messages)

@sidebar = {
    <h2 class="heading-small" id="organisation-name"> @applicationHubModel.organisationName</h2>
    <div class = "form-group">
        @multiLineHelper("address", Transformers.addressModelToFlattenedArray(applicationHubModel.registeredAddress.copy(countryCode = CountriesHelper.getSelectedCountry(applicationHubModel.registeredAddress.countryCode))))
    </div>

    <div class = "form-group">
        @multiLineHelper("contactDetails", Transformers.contactDetailsModelToFlattenedArray(applicationHubModel.contactDetails))
    </div>

    <div class="section--blue-top"></div>

}

@main_template(title = Messages("page.introduction.hub.title"), bodyClasses = None,  sidebarLinks = Some(sidebar)) {

<div class="grid-column">
    <div class="column-two-thirds">
        <div class="form-group">
            <h1 class="heading-xlarge">@Messages("page.introduction.hub.heading")</h1>
            @partial
        </div>
    </div>
</div>

<div class="form-group">
    <h2 id="aa-historic-heading" class="heading-small">@Messages("page.PreviouslySubmitted.heading")</h2>
    <a id="aa-historic-link" href="@routes.HistoricAASubmissionController.show">@Messages("page.introduction.hub.viewPrevious.AdvancedAssurance")</a>
</div>

@if(FrontendAppConfig.uploadFeatureEnabled){
<div class="form-group">
    <input type="hidden" id="isUploadEnabled" name="isUploadEnabled" value="@FrontendAppConfig.uploadFeatureEnabled">
    <h2 id="attachments-outside-heading" class="heading-small">@Messages("page.supportingDocuments.SupportingDocuments.heading")</h2>
    <p id="attachments-outside-desc"> <a id="attachments-outside-link" href="@routes.SupportingDocumentsUploadController.show">@Messages("page.introduction.hub.upload.link")</a> @Messages("page.introduction.hub.upload.desc")</p>
  </div>
}



}




