@import views.html.helpers.{backButton}
@import uk.gov.hmrc.play.views.html.helpers.form
@import config.FrontendAppConfig

@()(implicit request: Request[_])

@main_template(Messages("page.introduction.HowToApply.title"), bodyClasses = None) {

@backButton(controllers.routes.IntroductionController.show().toString)

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge" id="main-heading">@Messages("page.introduction.HowToApply.heading")</h1>

        <ul class="list list-number">
            <li class ="heading-medium" id = "number-fill-out">@Messages("page.introduction.HowToApply.number.fillOut")
                <p id ="fill-out-description">@Messages("page.introduction.HowToApply.fillOut.description")</p></li>
            <li class ="heading-medium" id = "number-send">@Messages("page.introduction.HowToApply.number.send")
                <p id ="send-description-one">@Messages("page.introduction.HowToApply.send.descriptionOne")</p>
                <p id ="send-description-two">@Messages("page.introduction.HowToApply.send.descriptionTwo")</p>
                <ul class ="list list-bullet">
                    <li id ="number-send-one">@Messages("page.introduction.HowToApply.number.sendOne")
                    <li id ="number-send-two">@Messages("page.introduction.HowToApply.number.sendTwo")
                    <li id ="number-send-three">@Messages("page.introduction.HowToApply.number.sendThree")
                </ul></li>
            <li class ="heading-medium" id = "number-receive">@Messages("page.introduction.HowToApply.number.receive")
                <p id ="receive-description">@Messages("page.introduction.HowToApply.receive.description")</p></li>
        </ul>

        <p id = "not-binding">@Messages("page.introduction.HowToApply.notBinding")</p>

        <div class="form-group">
            @form(action = controllers.routes.HowToApplyController.submit()) {
            <button class="button" type="submit" id="next">@Messages("common.button.continue")</button>
            }
        </div>
    </div>
</div>

}