@()(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.helpers.{form}
@import controllers.routes._
@import helpers.{externalLink, backButton}

@import config.FrontendAppConfig

@main_template(title = Messages("page.introduction.qualifyingForScheme.title"), bodyClasses = None) {

@backButton(controllers.routes.YourCompanyNeedController.show().toString)

<div class="grid-row">
    <div class="column-two-thirds">
        <div id="main">
                <h1 class="form-title heading-xlarge" id="main-heading" >@Messages("page.introduction.qualifyingForScheme.title")</h1>
         </div>
        <p id="description-one">@Messages("page.introduction.qualifyingForScheme.description.one")</p>
        <p id="description-two">@Messages("page.introduction.qualifyingForScheme.description.two")</p>

        <ul class="list list-bullet">
            <li id="uk-base">@Messages("page.introduction.qualifyingForScheme.bullet.UKbase")</li>
            <li id="listed">@Messages("page.introduction.qualifyingForScheme.bullet.listed")</li>
            <li id="num-employees">@Messages("page.introduction.qualifyingForScheme.bullet.numEmployees")</li>
        </ul>

        <p id="description-three">@Messages("page.introduction.qualifyingForScheme.description.three")
            @externalLink(Messages("page.introduction.qualifyingForScheme.link.schemeGuidance"),
            "https://www.gov.uk/government/publications/the-enterprise-investment-scheme-introduction",
            Some("link-text-one"))
        </p>

        <br>

        <h2 id="heading-one" class="heading-medium">@Messages("page.introduction.qualifyingForScheme.heading.one")</h2>

        <p id="description-four">@Messages("page.introduction.qualifyingForScheme.description.four")</p>

        <ul class="list list-bullet">
            <li id="farming">@Messages("page.introduction.qualifyingForScheme.bullet.farming")</li>
            <li id="legal">@Messages("page.introduction.qualifyingForScheme.bullet.legal")</li>
            <li id="property">@Messages("page.introduction.qualifyingForScheme.bullet.property")</li>
            <li id="hotels">@Messages("page.introduction.qualifyingForScheme.bullet.hotels")</li>
            <li id="electricity">@Messages("page.introduction.qualifyingForScheme.bullet.electricity")</li>
        </ul>

        <p id="description-five">@Messages("page.introduction.qualifyingForScheme.description.five")
            @externalLink(Messages("page.introduction.qualifyingForScheme.link.unqualifiedBusiness"),
            "https://www.gov.uk/hmrc-internal-manuals/venture-capital-schemes-manual/vcm3000",
            Some("link-text-two"))
        </p>

        <br>

        <div class="form-group">
            @form(action = controllers.routes.QualifyingForSchemeController.submit()) {
                <button class="button" role="button" id="continue">@Messages("common.button.continue")</button>
            }
        </div>
    </div>
</div>
}
