@()(implicit request: Request[_])

@import uk.gov.hmrc.play.views.html.helpers.{form}
@import controllers.routes._
@import helpers._

@import config.FrontendAppConfig

@main_template(Messages("page.introduction.WhatWeAskYou.title"), bodyClasses = None, backLink = Some(controllers.routes.QualifyingForSchemeController.show().toString)) {

<div class="grid-row">
    <div class="column-two-thirds">

        <h1 class="heading-xlarge" id="main-heading">@Messages("page.introduction.WhatWeAskYou.title")</h1>

        <p id="description-one">@Messages("page.introduction.WhatWeAskYou.description.one")</p>
        <p id="description-two">@Messages("page.introduction.WhatWeAskYou.description.two")</p>

        <br>

        <h2 class="heading-medium" id="heading-one">@Messages("page.introduction.WhatWeAskYou.heading.one")</h2>

        <hr>
        <ul class="list list-bullet">
            <li id="comp-incorporated">@Messages("page.introduction.WhatWeAskYou.bullet.compIncorporated")</li>
            <li id="comp-do">@Messages("page.introduction.WhatWeAskYou.bullet.compDo")</li>
            <li id="sold-commercially">@Messages("page.introduction.WhatWeAskYou.bullet.soldCommercially")</li>
            <li id="owns-controls-comp">@Messages("page.introduction.WhatWeAskYou.bullet.ownsControlsComp")</li>
            <li id="spent-r-and-d">@Messages("page.introduction.WhatWeAskYou.bullet.spentRAndD")</li>
        </ul>

        <br>

        <h2 class="heading-medium" id="heading-two">@Messages("page.introduction.WhatWeAskYou.heading.two")</h2>
        <hr>
        <ul class="list list-bullet">
            <li id="prev-tax-relief">@Messages("page.introduction.WhatWeAskYou.bullet.prevTaxRelief")</li>
            <li id="invest-raised">@Messages("page.introduction.WhatWeAskYou.bullet.investRaised")</li>
            <li id="shares-issued">@Messages("page.introduction.WhatWeAskYou.bullet.sharesIssued")</li>
            <li id="name-schemes">@Messages("page.introduction.WhatWeAskYou.bullet.nameSchemes")</li>
        </ul>

        <br>

        <h2 class="heading-medium" id="heading-three">@Messages("page.introduction.WhatWeAskYou.heading.three")</h2>
        <hr>
        <ul class="list list-bullet">
            <li id="how-use-invest">@Messages("page.introduction.WhatWeAskYou.bullet.howUseInvest")</li>
            <li id="amount-to-raise">@Messages("page.introduction.WhatWeAskYou.bullet.amountToRaise")</li>
        </ul>

        <br>

        <h2 class="heading-medium" id="heading-four">@Messages("page.introduction.WhatWeAskYou.heading.four")</h2>
        <hr>
        <ul class="list list-bullet">
            <li id="who-to-contact">@Messages("page.introduction.WhatWeAskYou.bullet.whoToContact")</li>
            <li id="contact-details">@Messages("page.introduction.WhatWeAskYou.bullet.contactDetails")</li>
        </ul>

        <br>

        <h2 class="heading-medium" id="heading-five">@Messages("page.introduction.WhatWeAskYou.heading.five")</h2>
        <hr>
        <ul class="list list-bullet">
            <li id="company-accounts">@Messages("page.introduction.WhatWeAskYou.bullet.companyAccounts")</li>
            <li id="other-comp-accounts">@Messages("page.introduction.WhatWeAskYou.bullet.otherCompAccounts")</li>
            <li id="memorandum">@Messages("page.introduction.WhatWeAskYou.bullet.memorandum")</li>
            <li id="prospectuses">@Messages("page.introduction.WhatWeAskYou.bullet.prospectuses")</li>
        </ul>

        <br>
        <hr>
        <br>

        <div class = "form-group">
            <p><a id="print-this-page" href="javascript:window.print()" class="print-link print-hidden js-visible">@Messages("page.introduction.WhatWeAskYou.print.text")</a></p>
        </div>

        <fieldset></fieldset>

        <div class="form-group">
            @form(action = controllers.routes.WhatWeAskYouController.submit()) {
            <button class="button" role="button" id="next">@Messages("common.button.continueFirstSection")</button>
            }
        </div>
    </div>
</div>

}