@import models.submission.SingleSchemeTypesModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{externalLink,backButton,singleRadioButton,errorSummary, formInputRadioGroup}

@(singleSchemeSelectionForm: Form[SingleSchemeTypesModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.schemeSelection.SchemeSelection.singlescheme.title")) {

@backButton(controllers.routes.ApplicationHubController.show.url)

@errorSummary(singleSchemeSelectionForm, "SEIS", "SEIS")

<h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.schemeSelection.SchemeSelection.singlescheme.heading")</h1>

@form(action = controllers.schemeSelection.routes.SingleSchemeSelectionController.submit()) {

<div class="form-group">

    <div class="form-group">
        @formInputRadioGroup(
        field = singleSchemeSelectionForm("singleSchemeSelection"),
        Seq("EIS" -> Messages("page.schemeSelection.SchemeSelection.radiobutton.eis"),
            "SEIS" -> Messages("page.schemeSelection.SchemeSelection.radiobutton.seis"),
            "VCT" -> Messages("page.schemeSelection.SchemeSelection.radiobutton.vct")),
        '_legend -> Messages("page.investment.UsedInvestmentReasonBefore.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_groupClass -> "inline"
        )
    </div>

</div>
<div class="form-group">
    <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
</div>
}
}