@import models.SubsidiariesModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import common.Constants
@import views.html.helpers.{backButtonWithProgress, errorSummary, formInputRadioGroup}

@(subsidiariesForm: Form[SubsidiariesModel], backlinkUrl: String)(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.companyDetails.Subsidiaries.title")) {

@backButtonWithProgress(backlinkUrl, Messages("common.section.progress.company.details.one"))

@errorSummary(subsidiariesForm, "owns-subsidiaries", "subsidiaries")

<h1 class="heading-xlarge" id="main-heading">@Messages("page.companyDetails.Subsidiaries.heading")</h1>

@form(action = controllers.eis.routes.SubsidiariesController.submit()) {

<div class="form-group">
    @formInputRadioGroup(
    field = subsidiariesForm("subsidiaries"),
    Seq(
    Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
    Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
    '_legend -> Messages("page.companyDetails.Subsidiaries.heading"),
    '_legendClass -> "visuallyhidden",
    '_labelAfter -> true,
    '_labelClass -> "block-label",
    '_groupClass -> "inline"
    )
</div>

<div class="form-group">
    <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
</div>
}
}