@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.{backButton}
@import common.Constants._

@()(implicit request: Request[_], messages: Messages)

@import config.FrontendAppConfig

@main_template(title = Messages("page.seis.companyDetails.NotFirstTradeError.title"), bodyClasses = None) {

@backButton(controllers.seis.routes.IsFirstTradeController.show().url)

<div class="grid-row">
    <div class="column-two-thirds">
        <div id="main">
            <h1 class="form-title heading-xlarge" id="main-heading" >@Messages("page.seis.companyDetails.NotFirstTradeError.heading")</h1>
        </div>

        <div class="form-group">
            <span id="error-reason">
                @Messages("page.seis.companyDetails.NotFirstTradeError.reason")
            </span>
        </div>

        <div class="form-group">
           <p id="incorrect-info">@Messages("page.seis.companyDetails.NotFirstTradeError.incorrect.info")
                <a href="@controllers.seis.routes.IsFirstTradeController.show().url" class="link-style" id="change-answers">
                    @Messages("page.seis.companyDetails.NotFirstTradeError.change.link.changeAnswers")</a>.</p>
        </div>

    </div>
</div>
}

