@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit lang: play.api.i18n.Lang)

@import play.api.i18n._
@import views.html.helper._


@elements = @{ new FieldElements(field.id, field, null, args.toMap, lang) }
@parentField = @{args.toMap.get('parentField).asInstanceOf[Option[Field]]}
@parentElements = @{parentField.map(pf => new FieldElements(pf.id, pf, null, Map(), lang) )}
@value = @{ field.value match { case Some(x) => x case None => "" case x => x }}

@if(!elements.args.contains('_hideErrors)) {
@elements.errors.map { error =>
<span class="error-notification"
      @if(elements.args.contains('_error_id)) {
id="@elements.args.get('_error_id)"
}
role="tooltip"
data-journey="search-page:error:@elements.field.name">
@Messages(error)
</span>
}
}
@if(parentElements.isDefined) {
@parentElements.get.errors.map { error => <span class="error-notification">@Messages(error)</span>}
}
<button
        @if( elements.args.contains('_type)){type="@elements.args.get('_type)" }else{type="text" }
@if( elements.args.contains('_dataAttributes) ){ @elements.args.get('_dataAttributes)}
@if( elements.args.get('_inputClass) ){ class="@elements.args.get('_inputClass)" }
name="@elements.field.name"
id="@elements.field.name"
@if(elements.args.get('_error_id).isDefined) { aria-labeledby="@elements.args.get('_error_id)" }
>@value</button>