@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import common.Constants

@(form: Form[_], fieldName: String, questionText:String, content:Html, helpText:Option[String] = None,
legendClass:Option[String] = None, contentNo:Option[Html], helpTextPanel1:Option[String] = None,
helpTextPanel2:Option[String] = None, headerTextPanel1:Option[String] = None,
headerTextPanel2:Option[String] = None)(implicit messages: Messages)

<div class="form-group" data-hidden="hidden" data-hidden-no="hidden-no">

    @formInputRadioGroup(
    field = form(fieldName),
    Seq(
    Constants.StandardRadioButtonYesValue->Messages("common.base.yes"),
    Constants.StandardRadioButtonNoValue->Messages("common.base.no")),
    '_legend -> questionText,
    '_legendClass -> legendClass,
    '_helpText -> helpText,
    '_legendID -> fieldName,
    '_labelAfter -> true,
    '_labelClass -> "block-label",
    '_groupClass -> "inline"
    )

    <div class="panel-indent" id="hidden">
        <div>

            @if(headerTextPanel1.isDefined) { <span id="headerTextPanel1">@headerTextPanel1.get</span> }
            @if(helpTextPanel1.isDefined) { <span id="helpTextPanel1" class="form-hint">@helpTextPanel1.get</span> }
            @content
        </div>
    </div>

    <div class="panel-indent" id="hidden-no">
        <div>
            @if(headerTextPanel2.isDefined) { <span id="headerTextPanel2">@headerTextPanel2.get</span> }
            @if(helpTextPanel2.isDefined) { <spanb id="helpTextPanel2" class="form-hint">@helpTextPanel2.get</spanb> }
            @contentNo
        </div>
    </div>
</div>
