@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(form: Form[_], fieldName: String, questionText:String, content:Html, helpText:Option[String] = None,
legendClass:Option[String] = None, contentNo:Option[Html])(implicit lang: play.api.i18n.Lang)

<div class="form-group" data-hidden="hidden" data-hidden-no="hidden-no">

    @formInputRadioGroup(
    field = form(fieldName),
    Seq(
    "Yes"->Messages("common.base.yes"),
    "No"->Messages("common.base.no")),
    '_legend -> questionText,
    '_legendClass -> legendClass,
    '_helpText -> helpText,
    '_legendID -> fieldName,
    '_labelAfter -> true,
    '_labelClass -> "block-label",
    '_groupClass -> "inline"
    )

    <div class="panel-indent" id="hidden">
        <div>
            @content
        </div>
    </div>

    <div class="panel-indent" id="hidden-no">
        <div>
            @contentNo
        </div>
    </div>
</div>
