@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit messages: Messages)
@import play.api.i18n._
@import views.html.helper._
@elements = @{ new FieldElements(field.id, field, null, args.toMap, messages) }
@value = @{ field.value match { case Some(x) => x case None => "false" case x => x }}
<div class="form-field-single @if(elements.hasErrors) {error}">
    @elements.errors.map { error =>
    <span style="display: block" class="error-notification">@Messages(error)</span>
    }
    <label class="radio@if(elements.args.get('_labelClass)){ @elements.args.get('_labelClass)} block-label" for="@elements.id" id="@elements.id-label">
        @elements.label
        <input type="radio" id="@elements.id"
               @if( elements.args.get('_inputClass) ){ class="@elements.args.get('_inputClass)" }
        name="@elements.field.name" value="true" @if(value=="true"){checked="checked"}/>
    </label>
</div>



