@(rowId: String, question: String, answerLines: Array[String], link: Option[String] = None)

<tr>
    <td id="@{rowId}-question" class="summaryQuestion" valign="top">@question</td>
    <td id="@{rowId}-answer" class="summaryAnswer" valign="top">

        @for(line <- answerLines) {
            @line
            <br><br>
        }

    </td>
    <td class="numeric" class="summaryLink">@if(link.isDefined) {
        <a id="@{rowId}-link" href=@link>@Messages("common.base.change")</a>
        }</td>
</tr>