@(fieldName: String, messageOne: String, messageTwo: String, args: (Symbol,Any)*)(implicit messages: Messages)

@import play.api.i18n._
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

<fieldset class="form-group" id="@fieldName-fieldset">

    <legend id="message-text-legend-id visuallyhidden"></legend>
    <div class="form-field--error fields-aligned">
        <span class="error-notification" id="text-one-id">@Messages(messageOne)</span>
        <br>
        <span class="error-notification" id="text-two-id">@Messages(messageTwo)</span>
    </div>

</fieldset>
