@import models.TenYearPlanModel
@import common.Constants
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{errorSummary, formHiddenYesNoRadioNoError, formTextInput, backButtonWithProgress, formSpanMessage, textArea}

@(tenYearPlanForm: Form[TenYearPlanModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.knowledgeIntensive.TenYearPlan.title")) {

@backButtonWithProgress(controllers.eis.routes.PercentageStaffWithMastersController.show().toString, Messages("common.section.progress.company.details.one"))

@errorSummary(tenYearPlanForm, "ten-year-plan", "tenYearPlanDesc")

<h1 class="form-title heading-xlarge" id="main-heading">@Messages("page.knowledgeIntensive.TenYearPlan.heading")</h1>

<p class = "form-hint" id="desc-one">@Messages("page.knowledgeIntensive.TenYearPlan.question.hint.one")</p>
<p class = "form-hint" id="desc-two">@Messages("page.knowledgeIntensive.TenYearPlan.question.hint.two")</p>

    @form(action = controllers.eis.routes.TenYearPlanController.submit()) {

    @formHiddenYesNoRadioNoError(
    tenYearPlanForm,
    "hasTenYearPlan",
    Messages("page.companyDetails.CommercialSale.question.hint"),
    textArea(
    tenYearPlanForm("tenYearPlanDesc"),
    '_cols -> "50",
    '_rows -> "10",
    '_maxLength-> Constants.SuggestedTextMaxLengthLower,
    '_label-> Messages("page.knowledgeIntensive.TenYearPlan.description.one"),
    '_info-> Messages("page.knowledgeIntensive.TenYearPlan.question.hint.three"),
    '_info2-> Messages("page.knowledgeIntensive.TenYearPlan.question.hint.four"),
    '_infoTextClass-> "form-hint"
    ),
    None,
    Some("visuallyhidden")
    )

<div class="form-group">
    <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
</div>

}
}