@import models.PreviousBeforeDOFCSModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(previousBeforeDOFCSForm: Form[PreviousBeforeDOFCSModel])(implicit request: Request[_])

@main_template(Messages("page.previousInvestment.previousBeforeDOFCS.title")) {

    @backButtonWithProgress(controllers.routes.UsedInvestmentReasonBeforeController.show().toString, Messages("common.section.progress.company.details.three"))

    @errorSummary(previousBeforeDOFCSForm, "previous-before-dofcs", "previousBeforeDOFCS")

    <h1 class="heading-xlarge" id="main-heading">@Messages("page.previousInvestment.previousBeforeDOFCS.heading")</h1>

    @form(action = controllers.routes.PreviousBeforeDOFCSController.submit()) {

        <div class="form-group">
            @formInputRadioGroup(
            field = previousBeforeDOFCSForm("previousBeforeDOFCS"),
            Seq(
            "Yes"->Messages("common.radioYesLabel"),
            "No"->Messages("common.radioNoLabel")),
            '_legend -> Messages("page.previousInvestment.previousBeforeDOFCS.heading"),
            '_legendClass -> "visuallyhidden",
            '_labelAfter -> true,
            '_labelClass -> "block-label",
            '_legendID -> "previousBeforeDOFCSLegend",
            '_groupClass -> "inline"
            )
        </div>

        <div class="form-group">
            <button class="btn button" id="next">@Messages("common.button.continue")</button>
        </div>
    }
}