@import models.WhatWillUseForModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers.{errorSummary, formInputRadioGroup, backButtonWithProgress}

@(whatWillUseForForm: Form[WhatWillUseForModel])(implicit request: Request[_])

@main_template(Messages("page.investment.whatWillUseFor.title")) {

    @backButtonWithProgress(controllers.routes.WhatWillUseForController.show().toString, Messages("common.section.progress.company.details.three"))

    <div class="grid-row">
        <div class="column-two-thirds">

            @errorSummary(whatWillUseForForm, "investment-purpose", "whatWillUseFor")

            <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.investment.whatWillUseFor.title")</h1>

            @form(action = controllers.routes.WhatWillUseForController.submit()) {
                <div class="form-group">
                    @formInputRadioGroup(
                    field = whatWillUseForForm("whatWillUseFor"),
                    Seq(
                    "Business"->Messages("page.investment.whatWillUseFor.business"),
                    "Preparation"->Messages("page.investment.whatWillUseFor.preparing"),
                    "R&D"->Messages("page.investment.whatWillUseFor.rAndD")),
                    '_legend -> Messages("page.investment.whatWillUseFor.title"),
                    '_legendClass -> "visuallyhidden",
                    '_labelAfter -> true,
                    '_labelClass -> "block-label",
                    '_groupClass -> "inline"
                    )
                </div>

                <div class="form-group">
                    <button class="btn button" id="next">@Messages("common.button.continue")</button>
                </div>
            }
        </div>
    </div>
}
