@import models.HadPreviousRFIModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import common.Constants
@import views.html.helpers.{backButtonWithProgress, formInputRadioGroup, errorSummary, formHint}

@(hadPreviousRFIForm: Form[HadPreviousRFIModel])(implicit request: Request[_], messages: Messages)

@main_template(Messages("page.eisseis.previousInvestment.hadPreviousRFI.title")) {

    @backButtonWithProgress(controllers.seis.routes.TradeStartDateController.show().url, Messages("common.section.progress.company.details.two"))

    @errorSummary(hadPreviousRFIForm, "had-previous-rfi", "hadPreviousRFI")
    <h1 class="heading-xlarge" id="main-heading">@Messages("page.eisseis.previousInvestment.hadPreviousRFI.title")</h1>

    <div class="form-group">
        @formHint("de-minimis", Messages("page.eisseis.previousInvestment.hadPreviousRFI.text"))
    </div>

    <details>
        <summary><span id="de-minimis-help" class="summary">@Messages("page.eisseis.previousInvestment.hadPreviousRFI.hint")</span></summary>
        <div class="panel panel-indent panel-border-narrow">
            <span class = "form-hint" id = "de-minimis-help-text">@Messages("page.eisseis.previousInvestment.hadPreviousRFI.hint.text")</span>
        </div>
    </details>

    @form(action = controllers.seis.routes.HadPreviousRFIController.submit()) {

    <div class="form-group">
        @formInputRadioGroup(
        field = hadPreviousRFIForm("hadPreviousRFI"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.previousInvestment.hadPreviousRFI.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "hadPreviousRFI",
        '_groupClass -> "inline"
        )
    </div>

    <div class="form-group">
        <button class="btn button" type="submit" id="next">@Messages("common.button.snc")</button>
    </div>
    }
}