@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.{externalLink, backButton}

@()(implicit request: Request[_], messages: Messages)

@import config.FrontendAppConfig

@main_template(title = Messages("page.previousInvestment.InvalidPreviousScheme.title"), bodyClasses = None) {

@backButton(controllers.seis.routes.ReviewPreviousSchemesController.show().url)

<div class="grid-row">
    <div class="column-two-thirds">
        <div id="main">
            <h1 class="form-title heading-xlarge" id="main-heading" >@Messages("page.previousInvestment.InvalidPreviousScheme.heading")</h1>
        </div>

        <div class="form-group">
            <span id="invalid-scheme-reason">@Messages("page.previousInvestment.InvalidPreviousScheme.reason")</span>
        </div>
        <p class="form-group" id="change-answers">
            @Messages("page.previousInvestment.InvalidPreviousScheme.change-text")
            <a id="change-answers-link" class="link"
              href="@controllers.seis.routes.ReviewPreviousSchemesController.show().url">@Messages("page.previousInvestment.InvalidPreviousScheme.change-link")</a>.
        </p>

    </div>
</div>
}

