@(contactDetailsForm: Form[ContactDetailsModel])(implicit request: Request[_])

@import controllers._
@import forms._
@import helpers._
@import models.ContactDetailsModel
@import uk.gov.hmrc.play.views.html.helpers.{form, errorSummary}

@main_template(title = Messages("page.examples.ContactDetails.title")) {

<div class="grid-row">
    <div class="column-two-thirds">
        <a id="back-link" class="back-link" href="@controllers.examples.routes.CompanyAddressController.show()">@Messages("common.button.back")</a>

        @errorSummary(
        Messages("common.errorSummary.label"), contactDetailsForm
        )

        <header class="page-header">
            <h1 id="main-heading" class="form-title heading-xlarge">@Messages("page.examples.ContactDetails.heading")</h1>
        </header>

        <p class="lede" id="heading-description">@Messages("page.examples.ContactDetails.description")</p>

        @form(action = controllers.examples.routes.ContactDetailsController.submit()) {
        <div class="form-group">
            @input(
            contactDetailsForm("forename"),
            '_divClass -> "form-label",
            '_labelId -> "label-forename",
            '_label -> Messages("page.examples.ContactDetails.forename.label"),
            '_inputClass -> "input--fullwidth",
            'id -> "forename"
            )

            @input(
            contactDetailsForm("surname"),
            '_divClass -> "form-label",
            '_labelId -> "label-surname",
            '_label -> Messages("page.examples.ContactDetails.surname.label"),
            '_inputClass -> "input--fullwidth",
            'id -> "surname"
            )

            @input(
            contactDetailsForm("email"),
            '_divClass -> "form-label",
            '_labelId -> "label-email",
            '_label -> Messages("page.examples.ContactDetails.email.label"),
            '_inputClass -> "input--fullwidth",
            'id -> "email"
            )
        </div>

        <div class="form-group">
            <button class="btn button" id="next">@Messages("common.button.snc")</button>
        </div>
        }
    </div>
</div>
}
