@import models.DateOfFirstSaleModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(dateOfFirstSaleForm: Form[DateOfFirstSaleModel])(implicit request: Request[_])

@main_template(Messages("page.examples.DateFirstSale.title")) {

   <a id="back-link" class="back-link" href="@controllers.examples.routes.ContactDetailsController.show()">@Messages("common.button.back")</a>

   @errorSummary(dateOfFirstSaleForm, "examples-date-first-sale", "dateOfFirstSaleDay")

    <h1 class="heading-large">@Messages("page.examples.DateFirstSale.heading")</h1>

    @form(action = controllers.examples.routes.DateOfFirstSaleController.submit()) {

        @formInlineDateInput(dateOfFirstSaleForm, "dateOfFirstSale", Some(Messages("page.examples.DateFirstSale.question")), false, Some(Messages("common.date.hint")))

    <div class="form-group">
        <button class="btn button" id="next">@Messages("common.button.snc")</button>
    </div>

    }
}
