@import models.DoSubmissionModel
@import uk.gov.hmrc.play.views.html.helpers.form
@import views.html.helpers._

@(doSubmissionForm: Form[DoSubmissionModel])(implicit request: Request[_])

@main_template(Messages("page.examples.DoSubmission.title")) {

    <a id="back-link" class="back-link" href="@controllers.examples.routes.DateOfFirstSaleController.show()">@Messages("common.button.back")</a>

    @errorSummary(doSubmissionForm, "examples-do-submission")

    <h1 class="heading-large" id="main-heading">@Messages("page.examples.DoSubmission.title")</h1>

        @form(action = controllers.examples.routes.DoSubmissionController.submit()) {

        <div class="form-group">
            @formInputRadioGroup(
                field = doSubmissionForm("doSubmission"),
                Seq(
                    "Yes"->Messages("common.base.yes"),
                    "No"->Messages("common.base.no")),
                '_legend -> Messages("page.examples.DoSubmission.question"),
                '_helpText -> Messages("page.examples.DoSubmission.helptext"),
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_legendID -> "doSubmissionLegendId",
                '_groupClass -> "inline"
            )
        </div>

    <div class="form-group">
        <button class="btn button" id="next">@Messages("common.button.snc")</button>
    </div>
    }
}