@import uk.gov.hmrc.play.views.html.helpers.{form}
@import helpers.{externalLink, backButton}

@()(implicit request: Request[_], messages: Messages)

@import config.FrontendAppConfig

@main_template(title = Messages("page.eisseis.investment.TradingForTooLong.title"), bodyClasses = None) {

@backButton(controllers.eisseis.routes.NewProductController.show().toString)

<div class="grid-row">
    <div class="column-two-thirds">
        <div id="main">
            <h1 class="form-title heading-xlarge" id="main-heading" >@Messages("page.eisseis.investment.TradingForTooLong.heading")</h1>
        </div>

        <div class="form-group">
            <p id="trading-too-long-reason">@Messages("page.eisseis.investment.TradingForTooLong.reason")</p>
        </div>

        <ul class="list list-bullet">
            <li id="trading-too-long">@Messages("page.eisseis.investment.TradingForTooLong.bullet.one")</li>
            <li id="not-new-business">@Messages("page.eisseis.investment.TradingForTooLong.bullet.two")</li>
        </ul>

        <div class="form-group">
            <p id="incorrect-info">@Messages("page.eisseis.investment.TradingForTooLong.incorrect.info")
                <a href="@controllers.eisseis.routes.NewProductController.show().url" class="link-style" id="change-answers">
                    @Messages("page.eisseis.investment.TradingForTooLong.link.changeAnswers")</a>.</p>
        </div>

    </div>
</div>
}
