@import models._
@import testOnly.models.{TestPreviousSchemesModel, TestEisSeisProcessingModel}
@import uk.gov.hmrc.play.views.html.helpers.form
@import common.Constants
@import views.html.helpers.{externalLink,formHint, formInputRadioGroup, backButtonWithProgress, input, inputWithCurrencySymbol, formInlineDateInput, hiddenField, errorSummary, formHiddenYesNoRadioNoError, textArea, dropdown}

@(natureOfBusinessForm: Form[NatureOfBusinessModel],dateOfIncorporationForm: Form[DateOfIncorporationModel], tradeStartDateForm: Form[TradeStartDateModel], isFirstTradeForm: Form[IsFirstTradeModel], commercialSaleForm: Form[CommercialSaleModel],
  isKnowledgeIntensiveForm: Form[IsKnowledgeIntensiveModel], testOperatingCostsForm: Form[OperatingCostsModel], percentageStaffWithMastersForm: Form[PercentageStaffWithMastersModel],
  tenYearPlanForm: Form[TenYearPlanModel], hadPreviousRFIForm: Form[HadPreviousRFIModel], testPreviousSchemesForm: Form[TestPreviousSchemesModel], previousSchemesSize: Int, testEisSeisProcessingForm: Form[TestEisSeisProcessingModel], hadOtherInvestmentsForm: Form[HadOtherInvestmentsModel])(implicit request: Request[_], messages: Messages)
@main_template(Messages("page.test.page-one.title")) {
<div class="grid-row">

    @form(action = testOnly.controllers.eisseis.routes.TestEndpointEISSEISController.submitPageOne()) {

    <h2> Nature Of Business</h2>
    <div class="form-group">
        @input(
        natureOfBusinessForm("natureofbusiness"),
        '_divClass -> "form-label",
        '_labelId -> "label-natureofbusiness",
        '_hintId -> "label-natureofbusiness-hint",
        '_label -> Messages("page.companyDetails.natureofbusiness.heading"),
        '_labelTextClass -> "visuallyhidden",
        '_inputClass -> "input--fullwidth",
        '_maxlength-> Constants.SuggestetNatureOfBusinessLength,
        '_inputHint -> Messages("page.companyDetails.natureofbusiness.question.hint"),
        'id -> "utr"
        )
    </div>

    <h2>Date of Incorporation</h2>
    <div class="form-group">
        @formInlineDateInput(dateOfIncorporationForm, "incorporation", Some(Messages("page.companyDetails.DateOfIncorporation.heading")),
        true, Some(Messages("date.hint.dateOfIncorporation")), None)
    </div>

    <h2>Trade Start Date</h2>
    <div class="form-group">
        @formHiddenYesNoRadioNoError(
        tradeStartDateForm,
        "hasTradeStartDate",
        Messages("page.seis.companyDetails.TradeStartDate.question.hint"),
        formInlineDateInput(tradeStartDateForm,"tradeStart",Some(Messages("page.seis.companyDetails.TradeStartDate.question.hint")),
        false, Some(Messages("common.date.hint.example")), None),
        None,
        Some("visuallyhidden")
        )</div>

    <h2>Is First Trade</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = isFirstTradeForm("isFirstTrade"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.eisseis.companyDetails.isFirstTrade.legend"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "isFirstTrade",
        '_groupClass -> "inline"
        )
    </div>

    <h2>First Commercial Sale</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = commercialSaleForm("hasCommercialSale"),
        Seq(
        Constants.StandardRadioButtonYesValue->Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue->Messages("common.radioNoLabel")),
        '_legend -> Messages("page.companyDetails.IsKnowledgeIntensive.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_groupClass -> "inline"
        )

        @formInlineDateInput(commercialSaleForm, "commercialSale", Some(Messages("page.companyDetails.CommercialSale.question.hint")),
        true, Some(Messages("page.companyDetails.CommercialSale.question.hint")), None)
    </div>

    <h2>Is your company KI?</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = isKnowledgeIntensiveForm("isKnowledgeIntensive"),
        Seq(
        Constants.StandardRadioButtonYesValue->Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue->Messages("common.radioNoLabel")),
        '_legend -> Messages("page.companyDetails.IsKnowledgeIntensive.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_groupClass -> "inline"
        )
    </div>

    <h2>Operating Costs</h2>
    <table>
    <tbody>
    <tr>
        <td class="heading-small" id="row-heading-one">@Messages("page.companyDetails.OperatingCosts.row.heading.one")</td>
        <td>
            @input(
            testOperatingCostsForm("operatingCostsFirstYear"),
            '_divClass -> "form-label",
            '_labelId -> "label-firstYear",
            '_label -> Messages("page.companyDetails.OperatingCosts.row.one.label.year"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth",
            '_maxlength-> 4,
            'id -> "operating-year-one"
            )
        </td>
        <td>

            @inputWithCurrencySymbol(
            testOperatingCostsForm("operatingCosts1stYear"),
            '_divClass -> "form-label",
            '_labelId -> "label-amount-operatingCosts1stYear",
            '_label -> Messages("page.companyDetails.OperatingCosts.row.one.label.operatingcosts"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "9",
            'id -> "operating-one"
            )
        </td>
        <td>

            @inputWithCurrencySymbol(
            testOperatingCostsForm("rAndDCosts1stYear"),
            '_divClass -> "form-label",
            '_labelId -> "label-amount-rAndDCosts1stYear",
            '_label -> Messages("page.companyDetails.OperatingCosts.row.one.label.randdcosts"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "9",
            'id -> "research-one"
            )
        </td>
    </tr>
    <tr>
        <td class="heading-small" id="row-heading-two">@Messages("page.companyDetails.OperatingCosts.row.heading.two")</td>
        <td>
            @input(
            testOperatingCostsForm("operatingCostsSecondYear"),
            '_divClass -> "form-label",
            '_labelId -> "label-secondYear",
            '_label -> Messages("page.companyDetails.OperatingCosts.row.two.label.year"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth",
            '_type -> "text",
            '_maxlength-> 4,
            'id -> "operating-year-two"
            )
        </td>
        <td>

            @inputWithCurrencySymbol(
            testOperatingCostsForm("operatingCosts2ndYear"),
            '_divClass -> "form-label",
            '_labelId -> "label-amount-operatingCosts2ndYear",
            '_label -> Messages("page.companyDetails.OperatingCosts.row.two.label.operatingcosts"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "9",
            'id -> "operating-two"
            )
        </td>
        <td>

            @inputWithCurrencySymbol(
            testOperatingCostsForm("rAndDCosts2ndYear"),
            '_divClass -> "form-label",
            '_labelId -> "label-amount-rAndDCosts2ndYear",
            '_label -> Messages("page.companyDetails.OperatingCosts.row.two.label.randdcosts"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "9",
            'id -> "research-two"
            )

        </td>
    </tr>
    <tr>
        <td class="heading-small" id="row-heading-three">@Messages("page.companyDetails.OperatingCosts.row.heading.three")</td>
        <td>
            @input(
            testOperatingCostsForm("operatingCostsThirdYear"),
            '_divClass -> "form-label",
            '_labelId -> "label-thirdYear",
            '_label -> Messages("page.companyDetails.OperatingCosts.row.three.label.year"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth",
            '_maxlength-> 4,
            'id -> "operating-year-three"
            )
        </td>
        <td>

            @inputWithCurrencySymbol(
            testOperatingCostsForm("operatingCosts3rdYear"),
            '_divClass -> "form-label",
            '_labelId -> "label-amount-operatingCosts3rdYear",
            '_label -> Messages("page.companyDetails.OperatingCosts.row.three.label.operatingcosts"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "9",
            'id -> "operating-three"
            )

        </td>
        <td>

            @inputWithCurrencySymbol(
            testOperatingCostsForm("rAndDCosts3rdYear"),
            '_divClass -> "form-label",
            '_labelId -> "label-amount-rAndDCosts3rdYear",
            '_label -> Messages("page.companyDetails.OperatingCosts.row.three.label.randdcosts"),
            '_labelTextClass -> "visuallyhidden",
            '_inputClass -> "input--fullwidth input--no-spinner input--left-padding",
            '_type -> "text",
            '_maxlength -> "9",
            'id -> "research-three"
            )
        </td>
    </tr>
    </tbody>
    </table>

    <h2>Percentage of staff with masters</h2>
    <div class="form-group">
        @formHiddenYesNoRadioNoError(
        percentageStaffWithMastersForm,
        "staffWithMasters",
        Messages("page.knowledgeIntensive.PercentageStaffWithMasters.hint"),
        formHint("yes-hint", Messages("page.percentageStaffWithMasters.yes.hint")),
        None,
        Some("visuallyhidden")
        )
    </div>

    <h2>10 Year Plan</h2>
    <div class="form-group">
        @formHiddenYesNoRadioNoError(
        tenYearPlanForm,
        "hasTenYearPlan",
        Messages("page.companyDetails.CommercialSale.question.hint"),
        textArea(
        tenYearPlanForm("tenYearPlanDesc"),
        '_cols -> "50",
        '_rows -> "10",
        '_maxLength-> Constants.SuggestedTextMaxLengthLower,
        '_label-> Messages("page.knowledgeIntensive.TenYearPlan.description.one"),
        '_info-> Messages("page.knowledgeIntensive.TenYearPlan.question.hint.three"),
        '_info2-> Messages("page.knowledgeIntensive.TenYearPlan.question.hint.four"),
        '_infoTextClass-> "form-hint"
        ),
        None,
        Some("visuallyhidden")
        )
    </div>
    <h2>Used Investment Scheme Before</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = hadPreviousRFIForm("hadPreviousRFI"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.previousInvestment.hadPreviousRFI.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "hadPreviousRFI",
        '_groupClass -> "inline"
        )
    </div>

    <h2>Had other previous investments Before</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = hadOtherInvestmentsForm("hadOtherInvestments"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> Messages("page.previousInvestment.hadOtherInvestments.heading"),
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "hadOtherInvestments",
        '_groupClass -> "inline"
        )
    </div>

    <h2>Are you eligible for SEIS</h2>
    <div class="form-group">
        @formInputRadioGroup(
        field = testEisSeisProcessingForm("eisSeisProcessing"),
        Seq(
        Constants.StandardRadioButtonYesValue -> Messages("common.radioYesLabel"),
        Constants.StandardRadioButtonNoValue -> Messages("common.radioNoLabel")),
        '_legend -> "EIS SEIS Processing",
        '_legendClass -> "visuallyhidden",
        '_labelAfter -> true,
        '_labelClass -> "block-label",
        '_legendID -> "eisSeisProcessing",
        '_groupClass -> "inline"
        )
    </div>


    <h2>Add Previous Scheme</h2>

    @for(previousScheme <- 0 to previousSchemesSize - 1) {
        <div class="form-group">
            <h3>Scheme @(previousScheme + 1)</h3>
            <div class="form-group">
                @formInputRadioGroup(
                field = testPreviousSchemesForm(s"testPreviousSchemes[$previousScheme].schemeTypeDesc"),
                Seq(
                Constants.schemeTypeEis->Messages("page.previousInvestment.schemeType.eis"),
                Constants.schemeTypeSeis->Messages("page.previousInvestment.schemeType.seis"),
                Constants.schemeTypeSitr->Messages("page.previousInvestment.schemeType.sitr"),
                Constants.schemeTypeVct->Messages("page.previousInvestment.schemeType.vct"),
                Constants.schemeTypeOther->Messages("page.previousInvestment.schemeType.other")),
                '_legend -> Messages("page.investment.PreviousScheme.schemeType"),
                '_legendClass -> "heading-small",
                '_legendID -> "scheme-type",
                '_labelAfter -> true,
                '_labelClass -> "block-label"
                )
            </div>

            <div class="panel-indent form-group"  id="other-scheme">
                @input(
                testPreviousSchemesForm(s"testPreviousSchemes[$previousScheme].previousSchemeOtherSchemeName"),
                '_divClass -> "form-label",
                '_labelId -> "label-other-scheme",
                '_hintId -> "label-other-scheme-hint",
                '_label -> Messages("page.investment.PreviousScheme.otherSchemeName.label"),
                '_labelTextClass -> "heading-small block",
                '_inputHint -> "",
                '_inputClass -> "",
                '_type -> "text",
                '_maxlength -> "50",
                'id -> "previousSchemeOtherSchemeName"
                )

            </div>
            <div class="form-group"></div>

            <div class="form-group divider--top--thick">
                @inputWithCurrencySymbol(
                testPreviousSchemesForm(s"testPreviousSchemes[$previousScheme].previousSchemeInvestmentAmount"),
                '_divClass -> "form-label",
                '_labelId -> "label-amount",
                '_hintId -> "label-amount-hint",
                '_label -> Messages("page.investment.PreviousScheme.investmentAmount"),
                '_labelTextClass -> "heading-small block",
                '_inputHint -> "",
                '_inputClass -> "input--normal input--no-spinner input--left-padding",
                '_type -> "text",
                '_maxlength -> "9",
                'id -> "previousSchemeInvestmentAmount"
                )
            </div>

            <div class="panel-indent" id="investment-spent">
                @inputWithCurrencySymbol(
                testPreviousSchemesForm(s"testPreviousSchemes[$previousScheme].previousSchemeInvestmentSpent"),
                '_divClass -> "form-label",
                '_labelId -> "label-amount-spent",
                '_hintId -> "label-amount-spent-hint",
                '_label -> Messages("page.previousInvestment.amountSpent.label"),
                '_labelTextClass -> "heading-small block",
                '_inputHint -> "",
                '_inputClass -> "input--normal input--no-spinner input--left-padding",
                '_type -> "text",
                '_maxlength -> "9",
                'id -> "previousSchemeInvestmentSpent"
                )
            </div>
            <div class="form-group"></div>

            <div class="form-group divider--top--thick"></div>

            @formInlineDateInput(testPreviousSchemesForm,s"testPreviousSchemes[$previousScheme].previousSchemeInvestment",
            Some(Messages("page.previousInvestment.reviewPreviousSchemes.dateOfShareIssue")),
            false, Some(Messages("common.date.hint.example")), Some("heading-small"))

            <div>
                <input type="hidden" name="testPreviousSchemes[@previousScheme].previousSchemeProcessingId" id="testPreviousSchemes[@previousScheme].previousSchemeProcessingId" value="@{previousScheme + 1}" />
            </div>

        </div>
    }



    <div class="form-group">
        <button class="btn button" type="submit" id="next">
           @Messages("page.test.submit-form.button")
        </button>

        <a class="btn button" id="clear-cache" href="@testOnly.controllers.routes.ClearCacheController.clearCache()">
            @Messages("page.test.clear-cache.button")
        </a>

        <a class="btn button" id="page-two" href="@testOnly.controllers.eisseis.routes.TestEndpointEISSEISController.showPageTwo()">
            @Messages("page.test.page-two.button")
        </a>

    </div>

    }

</div>
}
